<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Telemetry</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="lib/uPlot.min.css">
		<link rel="stylesheet" href="style.css">
        <script src="lib/vue.js"></script>
	</head>
	<body>
        
        <div id="app">
            <header class="top-banner">
                <div>
                    <img src="images/logo-color.svg"/>
                </div>
                <div>
                    <span class="top-banner-title">Teleplot</span>
                </div>
                <div v-if="dataAvailable">
                    <span title="Telemetry and logs ingest rate">{{(telemRate+logRate).toFixed(0)}}/s </span>
                    <select v-model="viewDuration">
                        <option value="0">no window</option>
                        <option value="1">1 second</option>
                        <option value="5">5 seconds</option>
                        <option value="15">15 seconds</option>
                        <option value="30">30 seconds</option>
                        <option value="60">1 minute</option>
                        <option value="300">5 minutes</option>
                        <option value="900">15 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="21600">6 hours</option>
                        <option value="43200">12 hours</option>
                        <option value="86400">1 day</option>
                     </select>
                    <button onclick="exportSessionJSON()">Download JSON</button>
                </div>
                <div v-else>
                    <input type="file" onchange="importSessionJSON(event)" id="session-json-input" />
                </div>
            </header>

            <div class="main-body">
                <!--Variables-->
                <div class="left-col var-container" v-if="dataAvailable">
                    <div v-for="telem in telemetries" v-bind:key="'var-'+telem.name"
                    class="var-vue" @click="toggleVisibility(telem)"
                    v-bind:class="{ 'var-vue-visible': telem.visible }">
                        <div class="var-vue-name">{{telem.name}}</div>
                        <div class="var-vue-value" v-if="telem.value != null">
                            {{telem.value.toFixed(4)}}
                        </div>
                    </div>
                </div>

                <!-- PLOTS -->
                <div class="center-col">
                    <div v-if="!dataAvailable" class="help-container">
                        <img src="images/logo-color.svg"/>
                        <span>Ready to plot incoming telemetry.</span>
                    </div>
                    <div class="telem-container">
                        <div v-for="telem in telemetries" v-bind:key="'telem-'+telem.name" class="telem-vue" v-if="telem.visible">
                            <div class="telem-vue-header">
                                <div class="telem-stat">
                                    <span class="telem-stat-name">Name</span>
                                    <span class="telem-stat-value">{{telem.name}}</span>
                                </div>
                                <div class="telem-stat">
                                    <span class="telem-stat-name">Value</span>
                                    <span class="telem-stat-value" v-if="telem.value != null">{{telem.value.toFixed(4)}}</span>
                                </div>
                                <div v-if="telem.stats" class="telem-stat">
                                    <span class="telem-stat-name">Mean</span>
                                    <span class="telem-stat-value" v-if="telem.stats.mean != null">{{telem.stats.mean.toFixed(4)}}</span>
                                </div>
                                <div v-if="telem.stats"  class="telem-stat">
                                    <span class="telem-stat-name">Median</span>
                                    <span class="telem-stat-value" v-if="telem.stats.med != null">{{telem.stats.med.toFixed(4)}}</span>
                                </div>
                                <div v-if="telem.stats"  class="telem-stat">
                                    <span class="telem-stat-name">Stdev</span>
                                    <span class="telem-stat-value" v-if="telem.stats.stdev != null">{{telem.stats.stdev.toFixed(4)}}</span>
                                </div>
                                <div class="">
                                    <button @click="updateStats(telem)">stats</button>
                                </div>
                            </div>
                            <uplot-vue v-bind:data="telem.data" v-bind:options="telem.config"/>
                        </div>
                    </div>
                </div>

                <!-- CMD -->
                <div class="right-col cmd-container" v-if="cmdAvailable || logAvailable">
                    <span class="cmd-container-title">Commands</span>
                    <div v-for="cmd in commands" v-bind:key="cmd.name" class="cmd-vue">
                        <button @click="sendCmd(cmd)">{{cmd.name}}</button>
                    </div>

                    <!-- LOG -->
                    <span class="cmd-container-title">Logs</span>
                    <div class="log-container" v-if="logAvailable">
                        <span v-for="(log, index) in logs" v-bind:key="index" class="log-vue" @click="onLogClick(log, index)"
                            v-bind:class="{ 'log-vue-selected': log.selected }">
                            {{log.text}}
                        </span>
                    </div>
                </div>

            </div>

            


            
        </div>

    </body>
    <script src="lib/uPlot.iife.min.js"></script>
    <script src="lib/uplot-component.js"></script>
    <script src="./main.js"></script>
</html>