.responsive-text-wrapper-value, .responsive-text-wrapper-telem, .responsive-text-wrapper-unit {
  margin: auto;
}

.responsive-text-wrapper-telem, .responsive-text-wrapper-unit {
	color: #505252;
}

.responsive-text-wrapper-value{
  font-weight: 100;
  font-family: sans-serif;
}