.single-value-container
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.single-value-telem-div, .single-value-unit-div, .single-value-value-div
{
	display: flex;
	align-items: center;
	width: 100%;
	position: absolute;
}

.single-value-telem-div
{
	width: 100%;
	top: 5%;
	height: 15%;
	z-index: 2;
}

.single-value-value-div
{
	top: 15%;
	height: 73%;
	width: 100%;
	cursor: pointer;
	user-select: none;

	display:flex;
	flex-direction: column;
}

.single-value-unit-div
{
	height: 15%;
	width: 50%;
	left: 25%;
	top: 82%;
}

.value1-solo{
	height: 100%;
	width: 100%;
	display: flex;
}

.value1-2-duo{
	width:100%;
	height:50%;
	display:flex;
}
